[Desktop Entry]
Name=Audio_Spectrum_Visualizer
Type=Application
Exec=python3 /home/niramay/Documents/custom_desktop_widgets/Audio_Spectrum_Visualizer/run_FFT_analyzer.py > /tmp/audio_spectrum_failed_output.txt
Terminal=false